*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #4E996C, #94cf0b9d);
}

.memory-game-section{
    background: rgba(216, 216, 218, 0.164);
    height: 90vh;
    margin-top: 2%;
    margin-left: 20%;
}

h1{
    text-align: center;
    font-size: 40px;

}

.memory-game{
    height: 65vh; 
    width: 55vw;
    display: flex;
    flex-wrap: wrap;
    perspective: 10000px;
   
}

.memory-cards:hover{
    background-color: #b7b9b88f;
    cursor: pointer;
}

.memory-cards{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-cards:active{
     transform: scale(0.97);
     transition: transform .2s;
}

.memory-cards.flip{
    transform: rotateY(180deg);
}

.front-cards-tile,
.back-cards-tile{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5%;
  background: #93eeb727;
  /* backface-visibility: hidden; */
}

.front-cards-tile{
   transform: rotateY(180deg);
}

.newGame-button{
    color: blue;
    
}